<!-- admin-products-list.component.html -->

<h2>Product List</h2>

<table class="product-table">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Price</th>
    <th>Category</th>
    <!-- Add other headers as needed -->
    <th *ngIf="editflag">Actions</th>
  </tr>
  <tr *ngFor="let product of products">
    <td>{{ product.product_id }}</td>
    <td>{{ product.title }}</td>
    <td>{{ product.category }}</td>
    <td>{{ product.price }}</td>
    <!-- Add other product fields as needed -->
    <td *ngIf="editflag">
      <button class="edit-button" (click)="editProduct(product.product_id)">Edit</button>
      <button class="delete-button" (click)="deleteProduct(product.product_id)">Delete</button>
    </td>
  </tr>
</table>

<!-- <button class="add-button" (click)="addProduct()">Add Product</button> -->
